header{

    background-color: red;
    @media screen and {max-width: 500px);
        background-color: orange;
        
    }
    nav {
        border: 2px solid rgb(133, 47, 47)
        ul{
            list-style: circle;
            a{
                text-decoration: underline;

            }
        }
    }
}


